<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Essa é a página de Cadastro</title>
</head>
<body>
    <h1>Essa é a página de Cadastro</h1>
    <form method="post">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.nome.label() }}
            {{ form.nome() }}
        </div>
        <div class="mb-3">
            {{ form.email.label() }}
            {{ form.email() }}
        </div>
        <div class="mb-3">
            {{ form.senha.label() }}
            {{ form.senha() }}
        </div>
    {{ form.cadastro_submit() }}
    </form>
</body>
</html>